github "ReactiveCocoa/ReactiveCocoa" "e78a898f7bf6227f20fdbf254d9ed81f8d359022"
github "https://github.com/robrix/Box" "master"
git "https://gist.github.com/c0diq/3f85ffd1efb93980596a8c61326477e0" "master"
